* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-size: 16px;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-family: monospace;
}

.table {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}

.square {
    width: calc(100% / 3);
    border: 3px solid #fff;
    color: #fff;
    background-color: rgb(45, 60, 110);
    cursor: pointer;
    position: relative;
}

.square.x {
    pointer-events: none;
}

.square.o {
    pointer-events: none;
}

.square.o::after {
    content: 'o';
}

.square.x::after {
    content: 'x';
}

.square.x::after,
.square.o::after {
    display: block;
    position: absolute;
    font-size: 32px;
    left: 50%;
    top: 50%;
    line-height: 24px;
    margin-left: -9px;
    margin-top: -12px;
}

.players {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
}

.box {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
    display: flex;
    width: 120px;
    justify-content: space-between;
    font-size: 16px;
    border: 2px solid transparent;
    transition: all 300ms ease;
}

.box.active {
    border-color: rgb(45, 60, 110);
}

.turn {
    margin-bottom: 10px;
}

.turnPlayer {
    color: rgb(45, 60, 110);
    text-transform: uppercase;
    font-weight: bold;
}

.popup-winner {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 28px;
    background-color: rgb(45, 60, 110);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    transform: scale(0.9);
}

.popup-winner.showed {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.popup-winner span {
    font-size: 80px;
}

.button-restart {
    color: rgb(45, 60, 110);
    font-weight: 700;
    border: 1px solid rgb(45, 60, 110);
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 16px;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
}
