* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-family: monospace;
}

.table {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    width: 100%;
    height: 300px;
}

.square {
    width: calc(100% / 3);
    border: 3px solid #fff;
    color: #fff;
    background-color: rgb(45, 60, 110);
    cursor: pointer;
    position: relative;
}

.square.x {
    pointer-events: none;
}

.square.o {
    pointer-events: none;
}

.square.o::after {
    content: 'o';
}

.square.x::after {
    content: 'x';
}

.square.x::after,
.square.o::after {
    display: block;
    position: absolute;
    font-size: 32px;
    left: 50%;
    top: 50%;
    line-height: 24px;
    margin-left: -9px;
    margin-top: -12px;
}

.players {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
}

.box {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
    display: flex;
    width: 120px;
    justify-content: space-between;
    font-size: 16px;
}

.turn {
    margin-bottom: 10px;
}
